{% extends 'chat/base.html' %}
{% load static %}

{% block content %}
<!-- Messages -->
<div class="msg-container" id='message-container'>
</div>

<!-- User input form -->
<form onsubmit="return false">
    <div class="input-group p-4 fixed-bottom">
        <input type="text" id="input-text" class="form-control" placeholder="Hello Voithos..." autocomplete="off">
        <div class="input-group-append">
            <button class='btn btn-light btn-outline-secondary' id="submit-button" type='submit'><i
                    class='fa fa-reply'></i></button>
        </div>
    </div>
</form>

<script src='{% static "chat/js/chat.js" %}'></script>
{% endblock %}