:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #0ac2af;
    --primary-font-color: #000000;
    --secondary-font-color: #ffffff;
    --navbar-color: #ffffff;
    --navbar-font-color: #7e7e7e;
    --navbar-font-color-hover: #353535;
}

[data-theme='dark'] {
    --primary-color: rgb(43, 43, 43);
    --primary-font-color: #ffffff;
    --navbar-color: #353535;
    --navbar-font-color: #cccccc;
    --navbar-font-color-hover: #ffffff;
}

body {
    background-color: var(--primary-color);
}

.msg-container {
    position: absolute;
    top: 60px;
    bottom: 80px;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}

.msg {
    width: 55%;
    padding: 18px;
    margin: 12px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

.msg-voithos {
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    border-top-left-radius: 0px;
}

.msg-user {
    background-color: var(--navbar-color);
    color: var(--primary-font-color);
    border-top-right-radius: 0px;
    margin-left: auto;
    margin-right: 0px;
}

.msg-indicator {
    width: 100px;
}

.navbar {
    background-color: var(--navbar-color);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    color: var(--secondary-color);
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
}

.navbar-brand:hover {
    color: #2f9288;
}

.nav-link {
    color: var(--navbar-font-color);
}

.nav-link:hover {
    color: var(--navbar-font-color-hover);
}

.form-control, .form-control:focus {
    font-size: large;
    background-color: var(--navbar-color);
    color: var(--primary-font-color);
}

.blue-highlight {
    box-shadow: 0px 0px 30px rgb(29, 172, 255);
}

#input-group-wrapper {
    transition: 2s box-shadow;
}

#typing-indicator {
    background-image: url("../images/TypingIndicator.gif");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 10px 2px;
}