body {
    background-color: rgb(255, 255, 255);
}

.msg-container {
    position: absolute;
    top: 60px;
    bottom: 80px;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}

.msg {
    width: 55%;
    padding: 18px;
    margin: 12px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

.msg-voithos {
    background-color: #0ac2af;
    color: white;
    border-top-left-radius: 0px;
}

.msg-user {
    background-color: rgb(250, 255, 255);
    color: black;
    border-top-right-radius: 0px;
    margin-left: auto;
    margin-right: 0px;
}

.msg-indicator {
    width: 100px;
}

.navbar {
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    color: #0ac2af;
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
}

.navbar-brand:hover {
    color: #2f9288;
}

.nav-link {
    color: #7e7e7e;
}

.nav-link:hover {
    color: #353535;
}

.form-control {
    font-size: large;
}

.blue-highlight {
    box-shadow: 0px 0px 30px rgb(29, 172, 255);
}

#input-group-wrapper {
    transition: 2s box-shadow;
}

#typing-indicator {
    background-image: url("../images/TypingIndicator.gif");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 10px 2px;
}